In [1]:
import pandas as pd

In [2]:
restaurant = pd.DataFrame({'FOOD':['맥도날드', '롯데리아', '버거킹'],

                             'price':['5$', '10$', '7$'],

                             'rating':['H', 'W', 'S']})
restaurant

   FOOD price rating
0  맥도날드    5$      H
1  롯데리아   10$      W
2   버거킹    7$      S

In [3]:

restaurant.to_csv("./data/test.csv")

In [4]:
features = pd.read_csv("D:/datatest/test.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'D:/datatest/test.csv'

In [5]:
features

NameError: name 'features' is not defined

SyntaxError: invalid syntax (2091895271.py, line 2)

In [2]:
df = pd.read_csv("D:/datatest/music.csv")

In [3]:
df

,title,singer,personnel,sortation,release_date,agency,genre,type
0,좋은날,아이유,1,솔로,2010-12-09,카카오엔터테인먼트,발라드,EP
1,내가제일잘나가,2NE1,4,그룹,2011-06-24,YG엔터테인먼트,댄스,싱글
2,강남스타일,싸이,1,솔로,2012-07-15,YG엔터테인먼트,힙합,정규
3,첫사랑니,f(x),5,그룹,2013-07-29,SM엔터테인먼트,댄스,정규
4,위아래,EXID,4,그룹,2014-08-27,바나나컬쳐,댄스,싱글
5,Ah-Choo,러블리즈,8,그룹,2015-10-01,울림엔터테인먼트,댄스,EP
6,피땀눈물,방탄소년단,7,그룹,2016-10-10,빅히트뮤직,R&B,정규
7,시간을달려서,여자친구,6,그룹,2016-01-25,쏘스뮤직,댄스,EP
8,빨간맛,레드벨벳,5,그룹,2017-07-09,SM엔터테인먼트,댄스,EP
9,에너제틱,워너원,11,그룹,2017-08-07,"YMC엔터테인먼트, 스톤뮤직엔터테인먼트",댄스,EP
10,뚜두뚜두,블랙핑크,4,그룹,2018-06-15,YG엔터테인먼트,댄스,EP
11,달라달라,있지,5,그룹,2019-02-12,JYP엔터테인먼트,댄스,싱글
12,Dynamite,방탄소년단,7,그룹,2020-08-21,빅히트뮤직,댄스,싱글

In [42]:
df.loc[0:5, ['title', 'singer']]

     title singer
0      좋은날    아이유
1  내가제일잘나가   2NE1
2    강남스타일     싸이
3     첫사랑니   f(x)
4      위아래   EXID
5  Ah-Choo   러블리즈

In [41]:
df.columns

Index(['title', 'singer', 'personnel', 'sortation', 'release_date', 'agency',
       'genre', 'type'],
      dtype='object')

In [40]:
df2 = df.loc[df['personnel']>5, ]
df2

,title,singer,personnel,sortation,release_date,agency,genre,type
5,Ah-Choo,러블리즈,8,그룹,2015-10-01,울림엔터테인먼트,댄스,EP
6,피땀눈물,방탄소년단,7,그룹,2016-10-10,빅히트뮤직,R&B,정규
7,시간을달려서,여자친구,6,그룹,2016-01-25,쏘스뮤직,댄스,EP
9,에너제틱,워너원,11,그룹,2017-08-07,"YMC엔터테인먼트, 스톤뮤직엔터테인먼트",댄스,EP
12,Dynamite,방탄소년단,7,그룹,2020-08-21,빅히트뮤직,댄스,싱글

In [39]:
df2.loc[:, ['title', 'singer']]

       title singer
5    Ah-Choo   러블리즈
6       피땀눈물  방탄소년단
7     시간을달려서   여자친구
9       에너제틱    워너원
12  Dynamite  방탄소년단

In [51]:
df2 = df.loc[(df['personnel']>3) & (df['agency'] =='YG엔터테인먼트')]
df2

      title singer  personnel sortation release_date    agency genre type
1   내가제일잘나가   2NE1          4        그룹   2011-06-24  YG엔터테인먼트    댄스   싱글
10     뚜두뚜두   블랙핑크          4        그룹   2018-06-15  YG엔터테인먼트    댄스   EP

In [53]:
df

,title,singer,personnel,sortation,release_date,agency,genre,type
0,좋은날,아이유,1,솔로,2010-12-09,카카오엔터테인먼트,발라드,EP
1,내가제일잘나가,2NE1,4,그룹,2011-06-24,YG엔터테인먼트,댄스,싱글
2,강남스타일,싸이,1,솔로,2012-07-15,YG엔터테인먼트,힙합,정규
3,첫사랑니,f(x),5,그룹,2013-07-29,SM엔터테인먼트,댄스,정규
4,위아래,EXID,4,그룹,2014-08-27,바나나컬쳐,댄스,싱글
5,Ah-Choo,러블리즈,8,그룹,2015-10-01,울림엔터테인먼트,댄스,EP
6,피땀눈물,방탄소년단,7,그룹,2016-10-10,빅히트뮤직,R&B,정규
7,시간을달려서,여자친구,6,그룹,2016-01-25,쏘스뮤직,댄스,EP
8,빨간맛,레드벨벳,5,그룹,2017-07-09,SM엔터테인먼트,댄스,EP
9,에너제틱,워너원,11,그룹,2017-08-07,"YMC엔터테인먼트, 스톤뮤직엔터테인먼트",댄스,EP
10,뚜두뚜두,블랙핑크,4,그룹,2018-06-15,YG엔터테인먼트,댄스,EP
11,달라달라,있지,5,그룹,2019-02-12,JYP엔터테인먼트,댄스,싱글
12,Dynamite,방탄소년단,7,그룹,2020-08-21,빅히트뮤직,댄스,싱글

In [56]:
df2 = df.drop(['sortation', 'agency'], axis=1)
df2

       title singer  personnel release_date genre type
0        좋은날    아이유          1   2010-12-09   발라드   EP
1    내가제일잘나가   2NE1          4   2011-06-24    댄스   싱글
2      강남스타일     싸이          1   2012-07-15    힙합   정규
3       첫사랑니   f(x)          5   2013-07-29    댄스   정규
4        위아래   EXID          4   2014-08-27    댄스   싱글
5    Ah-Choo   러블리즈          8   2015-10-01    댄스   EP
6       피땀눈물  방탄소년단          7   2016-10-10   R&B   정규
7     시간을달려서   여자친구          6   2016-01-25    댄스   EP
8        빨간맛   레드벨벳          5   2017-07-09    댄스   EP
9       에너제틱    워너원         11   2017-08-07    댄스   EP
10      뚜두뚜두   블랙핑크          4   2018-06-15    댄스   EP
11      달라달라     있지          5   2019-02-12    댄스   싱글
12  Dynamite  방탄소년단          7   2020-08-21    댄스   싱글

In [57]:
df.columns = ['제목', '이름', '인원수', '구분', '발매일', '기획사', '장르', '유형']

In [58]:
df

          제목     이름  인원수  구분         발매일                    기획사   장르  유형
0        좋은날    아이유    1  솔로  2010-12-09              카카오엔터테인먼트  발라드  EP
1    내가제일잘나가   2NE1    4  그룹  2011-06-24               YG엔터테인먼트   댄스  싱글
2      강남스타일     싸이    1  솔로  2012-07-15               YG엔터테인먼트   힙합  정규
3       첫사랑니   f(x)    5  그룹  2013-07-29               SM엔터테인먼트   댄스  정규
4        위아래   EXID    4  그룹  2014-08-27                  바나나컬쳐   댄스  싱글
5    Ah-Choo   러블리즈    8  그룹  2015-10-01               울림엔터테인먼트   댄스  EP
6       피땀눈물  방탄소년단    7  그룹  2016-10-10                  빅히트뮤직  R&B  정규
7     시간을달려서   여자친구    6  그룹  2016-01-25                   쏘스뮤직   댄스  EP
8        빨간맛   레드벨벳    5  그룹  2017-07-09               SM엔터테인먼트   댄스  EP
9       에너제틱    워너원   11  그룹  2017-08-07  YMC엔터테인먼트, 스톤뮤직엔터테인먼트   댄스  EP
10      뚜두뚜두   블랙핑크    4  그룹  2018-06-15               YG엔터테인먼트   댄스  EP
11      달라달라     있지    5  그룹  2019-02-12              JYP엔터테인먼트   댄스  싱글
12  Dynamite  방탄소년단    7  그룹  2020-08-21                  빅히트뮤직   댄스  싱글

In [59]:
df.rename(columns = {'제목': 'title', '이름': 'name'})

       title   name  인원수  구분         발매일                    기획사   장르  유형
0        좋은날    아이유    1  솔로  2010-12-09              카카오엔터테인먼트  발라드  EP
1    내가제일잘나가   2NE1    4  그룹  2011-06-24               YG엔터테인먼트   댄스  싱글
2      강남스타일     싸이    1  솔로  2012-07-15               YG엔터테인먼트   힙합  정규
3       첫사랑니   f(x)    5  그룹  2013-07-29               SM엔터테인먼트   댄스  정규
4        위아래   EXID    4  그룹  2014-08-27                  바나나컬쳐   댄스  싱글
5    Ah-Choo   러블리즈    8  그룹  2015-10-01               울림엔터테인먼트   댄스  EP
6       피땀눈물  방탄소년단    7  그룹  2016-10-10                  빅히트뮤직  R&B  정규
7     시간을달려서   여자친구    6  그룹  2016-01-25                   쏘스뮤직   댄스  EP
8        빨간맛   레드벨벳    5  그룹  2017-07-09               SM엔터테인먼트   댄스  EP
9       에너제틱    워너원   11  그룹  2017-08-07  YMC엔터테인먼트, 스톤뮤직엔터테인먼트   댄스  EP
10      뚜두뚜두   블랙핑크    4  그룹  2018-06-15               YG엔터테인먼트   댄스  EP
11      달라달라     있지    5  그룹  2019-02-12              JYP엔터테인먼트   댄스  싱글
12  Dynamite  방탄소년단    7  그룹  2020-08-21                  빅히트뮤직   댄스  싱글

In [66]:
data = {
    '아이디': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    '학년': [1, 3, 1, 2, 3, 4, 3, 2, 1, 4],
    '수학': [70, 80, 90, 74, 92, 92, 84, 72, 81, 95],
    '영어': [92, 82, 91, 73, 92, 81, 95, 73, 72, 92],
    '과학': [82, 91, 92, 94, 73, 82, 92, 81, 75, 72]
}
scores = pd.DataFrame(data)
scores

   아이디  학년  수학  영어  과학
0    1   1  70  92  82
1    2   3  80  82  91
2    3   1  90  91  92
3    4   2  74  73  94
4    5   3  92  92  73
5    6   4  92  81  82
6    7   3  84  95  92
7    8   2  72  73  81
8    9   1  81  72  75
9   10   4  95  92  72

In [70]:
scores['총점'] = scores['수학'] + scores['영어'] + scores['과학']
scores

   아이디  학년  수학  영어  과학   총점
0    1   1  70  92  82  244
1    2   3  80  82  91  253
2    3   1  90  91  92  273
3    4   2  74  73  94  241
4    5   3  92  92  73  257
5    6   4  92  81  82  255
6    7   3  84  95  92  271
7    8   2  72  73  81  226
8    9   1  81  72  75  228
9   10   4  95  92  72  259

In [72]:
scores['평균'] = (scores['수학'] + scores['영어'] + scores['과학']) / 3
scores

   아이디  학년  수학  영어  과학   총점         평균
0    1   1  70  92  82  244  81.333333
1    2   3  80  82  91  253  84.333333
2    3   1  90  91  92  273  91.000000
3    4   2  74  73  94  241  80.333333
4    5   3  92  92  73  257  85.666667
5    6   4  92  81  82  255  85.000000
6    7   3  84  95  92  271  90.333333
7    8   2  72  73  81  226  75.333333
8    9   1  81  72  75  228  76.000000
9   10   4  95  92  72  259  86.333333

In [73]:
tit = pd.read_csv("D:/datatest/titanic.csv")